* {
	
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
	left-style: none;
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

html::-webkit-scrollbar {
	display: none;
}

#main-nav {
	background-color: #E5ECBF;
	color: #E5ECBF;
}

/*section {
	height: 100vh;
}*/

#home {
    background: url('./images/self.png');
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.custom-col {
	margin-top: 25%;
}

i {
	color: black;
}

.portfolio-image {
	filter: grayscale(1);
}
.img-hero {
	height: auto;
}

.spacing {
	margin-top: 10%;
}


#projects {
    background-color: #E5ECBF;
}

.card-img-top {
  width: 100%;
  height: 50%;
}

#contacts {
	background-color: #E5ECBF;
}

.map-frame {
  width: 100%;
  height: 400px; /* Adjust the height as needed */
}

.footer {
    height: 50px; 
    background-color: #E5ECBF;
}


